.footer-bg {
  background: #1f1f1f;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.footer p {
  font-size: 1.5rem;
  color: #5f5f5f;
}

.footer p a {
  color: #fff;
}

.footer p a:hover {
  color: #fe6a0f;
}

@media (max-width: 820px) {
  .footer {
    flex-direction: column;
  }
  .footer p {
    font-size: 1rem;
  }
}
