* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 100%;
}

body {
  font-family: "Inter";
  font-size: 0.9rem;
  color: #fff;
  background: #141414;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

figure,
h1,
h2,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
